---
layout: page
---
<% var post_count = 0; %>
<!-- Main Content -->
<% page.posts.each(function(post){ %>
<div class="post-preview <%- post.layout === 'poetry'? 'post-preview-poetry':''%>"
    <% if(post_count == 0) { %> style="background-image: url('<%- theme["cdn-url"]%><%- post["header-img"] || theme["post-default-img"] %><%- theme["cdn-url"]?theme["clip-home-post-bg"]:"" %>')"<% } %>>
    <% if(post_count == 0) { %><div id="first-post"><% } %>
        <a class="post-link" href="<%- config.root %><%- post.path %>">
        <h2 class="post-title">
            <%- post.title || __('untitiled') %>
        </h2>
        </a>
        <% if (post.subtitle && post.subtitle.length) { %>
            <h3 class="post-subtitle">
                <%- post.subtitle %>
            </h3>
        <% } %>
        <div class="post-content-preview">
            <% if(post.excerpt) { %>
                <%- post.excerpt %>
            <% } else { %>
                <% var br = post.content.indexOf('\n') %>
                <% if(br < 0 || !is_home()) { %>
                    <%- post.content %>
                <% } else { %>
                    <p><%- strip_html(post.content.substring(0, br)) %></p>
                <% } %>
            <% } %>
        </div>
        <div class="post-meta">
            <p>Posted by <%- post.author || config.author %> on
            <%= post.date.format(config.date_format) %></p>
        </div>
    <% if(post_count == 0) { %></div><% } %>
</div>
<% if(post_count != 0) { %><hr><% } %>
<% ++post_count; %>
<% }); %>

<!-- 翻页 pager -->
<%- partial('_partial/pagination')%>
