---
layout: layout
---

<!-- Image to hack wechat -->
<!-- <img src="<\%= config['url'] %\><\%= config['root'] %\>img/icon_wechat.png" width="0" height="0"> -->
<!-- <img src="{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}" width="0" height="0"> -->

<!-- Post Header -->
<style type="text/css">
    <%- include _css/keynote.css %>
</style>
<header class="intro-header" >
    <iframe src="<%= page.iframe %>"/>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <div class="tags">
                            <% page.tags.forEach(function(tag){ %>
                              <a class="tag" href="<%= config.root %><%= tag.path %>" title="<%= tag.name %>"><%= tag.name %></a>
                            <% }) %>
                        </div>

                        <h1><%= page.title %></h1>
                        <h2 class="subheading"><%= page.subtitle %></h2>
                        <span class="meta">
                            Posted by <%- page.author || config.author %> on
                            <%= page.date.format(config.date_format) %>
                        </span>
                        
                    </div>
                </div>
            </div>
        </div>
    </iframe>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">

    <!-- Post Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                post-container">

                <%- page.content %>
                <hr>

                <%- partial('_partial/comment') %>
            </div>
            <!-- Sidebar Container -->
            <%- partial('_partial/sidebar') %>
        </div>
    </div>
</article>

<!-- 多说，disqus 公共JS代码 -->
<%- partial('_partial/comment_js') %>

<%- partial('_partial/anchorjs') %>
