<!DOCTYPE html>
<html lang="<%= config.lang %>">

<!-- Head tag -->
<%- partial('_partial/head') %>
<style>
    <%- include _css/layout.css %>
</style>
<!-- hack iOS CSS :active style -->
<body ontouchstart="">
    <%- partial('_partial/nav') %>
    <!-- Main Content -->
    <%- body %>
    <!-- Footer -->
    <%- partial('_partial/footer') %>
    <%- partial('_partial/after_footer') %>
    <!--wechat title img-->
    <img class="wechat-title-img" src="<%- theme['cdn-url']%><%= theme['sidebar-avatar']%><%- theme['cdn-url']?theme['clip-avatar']:''%>">
</body>

</html>
