---
layout: layout
---
<% if(is_home()){%>
<style>
    <%- include _css/page.css %>
</style>
<%}%>
<!-- Page Header -->
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 visible-xs-block visible-sm-block">
    <div class="row">
        <header class="intro-header">
            <div class="container">
                <div class="site-heading text-center">
                    <div class="about-me">
                        <!--移动端头部显示-->
                        <img src="<%- theme['cdn-url']%><%= theme['sidebar-avatar']%><%- theme['cdn-url']?theme['clip-avatar']:''%>" />
                        <h5><a href="<%= config.root %>about/"><%= config.author %></a></h5>
                        <% if(theme['sidebar-about-description']) {%><p><%= theme['sidebar-about-description'] %></p><% } %>
                    </div>
                </div>
            </div>
        </header>
    </div>
    </div>
<!-- Main Content -->
<div class="container custom-haojen-container">
    <!-- Post Container -->
    <div class="row">
        <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12 col-xs-12 post-container">
            <%- page.content || body %>
        </div>
    <!-- Sidebar Container -->
            <div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-container
            ">
                <!-- About Me -->
                <section class="visible-md visible-lg" style="padding: 0 18px">
                    <%- partial('_widget/site_search') %>
                    <p>
                    <div class="short-about">
                        <!--侧边栏头像-->
                        <% if(theme['sidebar-avatar']) { %>
                            <img src="<%- theme['cdn-url']%><%= theme['sidebar-avatar'] %><%- theme['cdn-url'] ? theme['clip-avatar']:''%> " />
                        <% } %>
                        <h5><a href="<%= config.root %>about/"><%= config.author %></a></h5>
                        <% if(theme['sidebar-about-description']) { %>
                            <p><%= theme['sidebar-about-description'] %></p>
                        <% }%>
                        <hr>
                        <!-- SNS Link 社交 -->
                        <ul class="list-inline">
                            <%- partial('_partial/sns') %>
                        </ul>
                    </div>
                    <div class="tags">
                        <% site.tags.map(function(tag){  %>
                        <% if(tag.length > theme['featured-condition-size']) { %>
                        <a href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>" rel="<%= tag.length %>"><%= tag.name %></a>
                        <% } %>
                        <% }) %>
                    </div>
                    <%- partial('_widget/categories') %>
                    <%- partial('_widget/recent_posts') %>
                    <%- partial('_widget/recent_comments') %>
                    <%- partial('_widget/friends') %>
                </section>
            </div>
    </div>
</div>

