---
layout: layout
---

<!-- Image to hack wechat -->
<!--only post-->
<img class="wechat-title-img" src="<%- theme['cdn-url']%><%= page['wechat-share'] || page['header-img'] || theme["post-default-img"]%><%- theme['cdn-url']? theme['clip-content']:''%>">

<!-- Post Header -->
<!-- only post bg-->
<style type="text/css">
    <%- include _css/post.css %>
</style>

<header class="intro-header" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
                <div class="post-heading">
                    <h1><%= page.title %></h1>
                    <% if(page.subtitle) { %>
                        <h2 class="subheading"><%= page.subtitle %></h2>
                    <% } %>
                    <span class="meta">
                         <%- __('author')%>：<%- page.author || config.author %>
                         <span>
                          <%- __('date')%>：<%= page.date.format(config.date_format) %>
                         </span>
                    </span>
                    <div class="tags text-center">
                        <% page.tags.forEach(function(tag){ %>
                            <a class="tag" href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post-title-haojen">
        <span>
            <%- page.title %>
        </span>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
                <!-- Post Container -->
            <div class="col-lg-8 col-lg-offset-1 col-sm-9 post-container">
                <% if(!theme['show_excerpt'] && page.excerpt) {%>
                    <%- page.more %>
                <% } else { %>
                    <%- page.content %>
                <% } %>
                <%- partial('_widget/word_count') %>
                <hr>
                <%- partial('_partial/comment') %>
            </div>
            <div class="hidden-xs col-sm-3 toc-col" >
                <div class="toc-wrap">
                    <% if(page.toc) { %>
                    <%- toc(page.content , {list_number : false}) %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</article>
<%- partial('_partial/anchorjs') %>
