<% if(theme['duoshuo_share'] && theme['duoshuo_username']) { %>
<!-- 多说 Share start -->
<div class="ds-share"
    style="text-align: right"
    data-thread-key="<%= page.path %>"
    data-title="<%= page.title %>"
    data-url="<%= page.permalink %>"
    data-images="<%= page["header-img"] ? page.permalink + page["header-img"] : '' %>"
    data-content="<%- truncate(strip_html(page.content), {length: 50, omission: '...'}) %> | <%= theme.SEOTitle %> " >
    <div class="ds-share-inline">
      <ul  class="ds-share-icons-16">
        <li data-toggle="ds-share-icons-more"><a class="ds-more" href="#"><%- __('share_to')%>：</a></li>
        <li><a class="ds-wechat flat" href="javascript:void(0);" data-service="wechat"><%- __('weixin')%></a></li>
        <li><a class="ds-weibo flat" href="javascript:void(0);" data-service="weibo"><%- __('weibo')%></a></li>
        <li><a class="ds-douban flat" href="javascript:void(0);" data-service="douban"><%- __('douban')%></a></li>
      </ul>
      <div class="ds-share-icons-more">
      </div>
    </div>
<hr>
</div>
<!-- 多说 Share end-->
<% } %>

<% if(is_post()) { %>
    <%- partial('_partial/post_nav') %>
<% } else { %>
    <%- partial('_partial/pagination') %>
<% } %>

<% if(theme['duoshuo_username']) { %>
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
        data-thread-key="<%= page.path %>"
        data-title="<%= page.title %>"
        data-url="<%= page.permalink %>" >
    </div>
</div>
<!-- 多说评论框 end -->
<% } %>

<% if(theme['disqus_username']) { %>
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread"></div>
</div>
<!-- disqus 评论框 end -->
<% } %>
