<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= config.description %>">
    <% if(theme.keyword){ %><meta name="keyword" content="<%= theme.keyword %>"><% } %>
    <link rel="shortcut icon" href="<%= config.root %>img/coffee.png">

    <title>
        <% if(page.archive) { %>
          <%= page.year || page.month || __('archive') %> ｜ <%= config.title %>
        <% } else if (page.title || page.category || page.tag) { %>
          <%= page.title || page.category || page.tag %> ｜ <%= config.title %>
        <% } else {%>
          <%= config.title %>
        <% } %>
    </title>

    <link rel="canonical" href="<%= config.url + config.root + (page.path||'').replace('index.html', '') %>">

    <!-- Bootstrap Core CSS -->
    <%- css('css/bootstrap.min.css') %>
    <!-- Custom CSS -->
    <%- css('css/blog-style.css') %>
    <!-- Pygments Github CSS -->
    <%- css('css/syntax') %>
    <!-- Beautiful buttons -->
    <%- css('css/buttons') %>
    
    <!-- Custom Fonts -->
    <link href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- ga & ba script hoook -->
    <script></script>
</head>
